@import "react-quill/dist/quill.snow.css";

.ql-tooltip {
  display: none;
}

#ql-toolbar {
  border-width: 0;
  padding: 10px 4px 4px 4px;
  opacity: 0.3;

  &.focus {
    opacity: 1;
  }

  button {
    background-color: transparent;
    border-radius: 4px;
    padding: 7px;
    height: auto;
    width: auto;
    margin: -4px 2px;
    color: rgba(232, 232, 232, 0.7); // color.HIGH

    &:hover {
      background-color: rgba(232, 232, 232, 0.04);
    }

    &.ql-active:not(.ql-link) {
      background-color: rgba(232, 232, 232, 0.13);

      &:hover {
        background-color: rgba(232, 232, 232, 0.2);
      }
    }
  }
}

.quill.quill-editor {
  width: 100%;

  .ql-formats:first-child {
    border-width: 0;
    padding-left: 0;

    button:first-child {
      margin-left: 0;
    }
  }

  .ql-container {
    border-width: 0;
    font-family: Lato;

    &.ql-disabled {
      .ql-editor {
        padding: 0;
        overflow-y: visible;
      }
    }
  }

  .ql-editor {
    font-size: 15px;
    line-height: 20px;
    max-height: calc(60vh - 80px);
    padding: 8px 15px;

    &.ql-blank {
      &::before {
        color: rgba(209, 210, 211, 0.5);
        font-style: normal;
      }
    }

    ul,
    ol {
      padding-left: 6px;

      li::before {
        width: 1rem;
        text-align: left;
      }
    }

    code {
      font-size: 12px;
      color: #e8912d;
      background-color: rgba(232, 232, 232, 0.04);
      border: 1px solid rgba(232, 232, 232, 0.13);
      border-radius: 3px;
      font-family: Monaco, Menlo, Consolas, Courier New, monospace;
    }

    pre.ql-syntax {
      font-size: 12px;
      background-color: transparent;
      border: 1px solid rgb(53, 55, 59);
      font-family: Monaco, Menlo, Consolas, Courier New, monospace;
    }

    p:empty {
      display: none;
    }

    .mention {
      background-color: rgba(29, 155, 209, 0.1);
      color: rgb(29, 155, 209);
      padding: 0 3px 1px 3px;
      border-radius: 4px;
      cursor: pointer;

      &[data-is-owner="true"] {
        background-color: rgba(232, 145, 45, 0.4);
        color: rgb(242, 199, 68);
      }
    }
  }

  .ql-mention-list-container {
    .ql-mention-list {
      list-style-type: none;
      background-color: rgb(34, 37, 41);
      color: rgb(209, 210, 211);
      box-shadow: rgba(232, 232, 232, 0.13) 0px 0px 0px 1px, rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
      border-radius: 6px;
      margin: 0;
      padding: 8px 0;

      .ql-mention-list-item {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 32px;
        margin: 0;

        &.selected {
          background-color: rgb(18, 100, 163);
        }

        .mention-item {
          display: flex;
          padding: 0 16px;

          p {
            font-size: 15px;
          }

          .MuiAvatar-root {
            border-radius: 4px;
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}
