.c-button-unstyled {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: inherit;
  overflow: initial;
  padding: 0;
  text-align: initial;
  vertical-align: initial;
  cursor: pointer;
}

video,
img {
  display: block;
  width: 100%;
}

.rotate-270-360 {
  transform: rotate(270deg);
  transition: transform 0.3s linear;
  &.rotate {
    transform: rotate(360deg);
    transition: transform 0.3s linear;
  }
}

.rotate-animation {
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
