.messages {
  .messages-list {
    overflow-y: auto;
  }

  .message-item {
    padding: 8px 20px;
  }

  .message-user {
    font-weight: bold;
    color: #ffffff;
  }

  .message-text {
    color: #ababad;
  }
}
